.container {
  width: 100%;
  background: var(--nav-color);
  min-height: 8rem;
  z-index: var(--nav-Zindex);

  border-top: 0.1rem var(--gold) solid;
}
.innerContainer {
  width: 85%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: var(--nav-Zindex);
  padding: 2rem 0;
}
.logoContainer {
  flex: 1;
}
.logo {
  height: 5.5rem;
  width: 5.5rem;
}
.links {
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 0 0;
  display: flex;
}
.links img{
  height: 4rem;
  width: 4rem;
}
.container p {
  padding: 4rem 0 2rem 0;
  margin: 0;
  color: var(--gold);
}

