.container {
    padding: 5rem;
    background: rgb(32, 32, 32);
    background: linear-gradient(
      90deg,
      rgba(32, 32, 32, 1) 21%,
      rgba(19, 19, 19, 1) 100%
    );
    min-height: 90vh;
  }
  .container p {
    font-size: 18px;
  }
  
