.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--nav-color);
  height: 80px;
  z-index: var(--nav-Zindex);
  border-bottom: 0.1rem var(--gold) solid;
}
.innerContainer {
  width: 90%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: var(--nav-Zindex);
}

.logo {
  flex: 1;
}
.logo img{
  height: 7rem;
}
.content,
.collapseContent {
  flex: 6;
  list-style: none;
  display: flex;
  margin: 0;
}
.toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: calc(var(--nav-z) + 1);
  cursor: pointer;
  height: 5rem;
  width: 5rem;
}
.content {
  justify-content: space-around;
  align-items: center;
  padding: 0 0 0 0;
  display: none;
}
.collapseContent {
  background: var(--nav-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  z-index: var(--nav-drop-z);
  border-bottom: 0.1rem var(--gold) solid;
}
.navLink {
  /* flex: 1; */
  position: relative;
  font-size: 16px;
  font-weight: 800;
  font-family: "Exo 2";
  color: white;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
  transition: transform .3s ease-out;
}
.collapseContent .navLink {
  margin: 2rem 0;
}
.socials img {
  height: 3rem;
  width: 3rem;
  margin: 0 0.5rem;
}
.collapseContent .socials{
  margin: 2rem  0 1rem 0;
}
.collapseContent .socials img{
  margin: 0 1.5rem;
}
.navLink::before {
  content: "";
  z-index: -1;
  position: absolute;
  /* background-color: red; */
  top: 0;
  left: 50%;
  transform: translate(-50%, 10%) scaleX(0);
  transition: transform 0.2s ease;
  width: 80%;
  height: 100%;
  border-bottom: 2px solid var(--gold);
}
.navLink:hover::before {
  transform: translate(-50%, 10%) scaleX(1);
}
.socialsLg{
  display: none;
  flex: 1;
  justify-content: flex-end;
}

@media only screen and (min-width: 700px) {
  .content {
    display: flex;
  }
  .collapseContent,
  .toggle {
    display: none;
  }
  .socialsLg{
    display: flex;
  }
}
